/*======= Common =======*/
:root {
    @each $color, $value in $colors {
        --#{$color}: #{$value};
    }

    @each $family, $value in $font-family {
        --#{$family}: #{$value};
    }
}

body {
    background-color: $color-dark-black;
    color: $color-white;
    font-family: $font-montserrat;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-montserrat;
    font-weight: 700;
    line-height: 1.5;
    color: $color-white;
    margin: 0px;
    a {
        color: $color-white;
    }
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
    margin: 0px;
}

a {
    display: inline-block;
    transition: all 0.3s ease-out 0s;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

a,
span {
    display: inline-block;
}

/*======= Common Classes =======*/


/*======= Custom Container =======*/


/*======= Background & Colors =======*/
